  <!-- Header Start -->
      <div class="container-fluid bg-breadcrumbh">
          <div class="container text-center py-5 wow fadeInDown" style="max-width: 900px;">
              <h4 class="text-white display-4 mb-2" data-wow-delay="0.1s">Welcome To Apnafayadaa</h4>
              <p style="color: #ffffff;">(Be a Member and get multiple Discount, Benefit and Offers)</p>
              <h5 class="text-white text-uppercase fw-bold">Get Benefit on Personal Accident Insurance for our Member</h5>   
          </div>
      </div>
  <!-- Header End -->

  <!-- Home Start -->
    <div class="container-fluid feature bg-light">
        <div class="container py-5">            
            <div class="row g-4">
              <div *ngFor="let group of groupedPlans | keyvalue" class="col-xl-12">
                <h3 class="mb-3">{{ group.key }}</h3>
                <div class="row g-4">
                  <div *ngFor="let plan of group.value" class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp"  data-wow-delay="0.2s">
                    <div class="feature-item p-4 pt-0 ">
                      <div class="feature-icon p-2 mb-4">
                            <i>{{plan.price}}</i>
                      </div>
                      <p class="mb-4">{{plan.description}}</p>
                      <a class="btn btn-primary rounded-pill py-2 px-4" [routerLink]="['/planform', plan.id]">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>     

            </div>
        </div>
    </div>
  <!-- Home End -->  
