<!-- Topbar Start -->
  <div class="container-fluid topbar px-0 px-lg-4 bg-light py-2 d-none d-lg-block">
    <div class="container">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">                            
                    <div class="ps-3">
                        <a href="mailto:apnafayadaa@gmail.com" class="text-muted small"><i class="fas fa-envelope text-primary me-2"></i>apnafayadaa@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex justify-content-end">
                    <div class="d-flex border-primary pe-3">
                        <!-- <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-youtube"></i></a> -->
                        <a class="btn p-0 text-primary me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Topbar End -->

  <!-- Navbar & Hero Start -->
  <div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light"> 
            <a href="#" class="navbar-brand p-0">
                <h1 class="text-primary mb-0"><i class="fab fa-slack me-2"></i> APNAFAYDAA</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-0 mx-lg-auto">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">Home</a>
                    <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                    <!-- <a routerLink="/service" routerLinkActive="active" class="nav-item nav-link">Services</a> -->
                    <a routerLink="/team" routerLinkActive="active" class="nav-item nav-link">Our team</a>
                    <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                    <div class="nav-btn px-2">
                        <!-- Search button -->
                        <button class="btn-search btn btn-primary btn-md-square rounded-circle flex-shrink-0" 
                                data-bs-toggle="modal" 
                                data-bs-target="#searchModal">
                            <i class="fas fa-search"></i>
                        </button>

                        <!-- Show Sign in if NOT logged in -->
                        <a *ngIf="!isLoggedIn" 
                            routerLink="/login" 
                            class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0">
                            Sign in
                        </a>

                        <!-- Show Logout if logged in -->
                        <button *ngIf="isLoggedIn" 
                                (click)="logout()" 
                                class="btn btn-outline-danger rounded-pill py-2 px-4 ms-3 flex-shrink-0">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
  </div>
  <!-- Navbar & Hero End -->

  <!-- Modal Search Start -->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
          <div class="modal-content rounded-0">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body d-flex align-items-center bg-primary">
                  <div class="input-group w-75 mx-auto d-flex">
                      <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                      <span id="search-icon-1" class="btn bg-light border nput-group-text p-3"><i class="fa fa-search"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Modal Search End -->
